/* themes.css */

:root {
  /* Default Light Theme */
  --background-color: #fff;
  --text-color: #000;
  --button-background: #007bff;
}

[data-theme="dark"] {
  /* Dark Theme */
  --background-color: #333;
  --text-color: #fff;
  --button-background: #ff6347;
}


/* app.css or another general CSS file */

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

button {
  background-color: var(--button-background);
}
